# Classwork Lecture 4

In this exercise, you'll get familiar with the following basics of python:

- String Functions
- If Else Statements
- For Loops

## Student Details

- Name:
- Division: 
- Roll:

# String Functions

Python has a set of built-in methods that you can use on strings. Please complete the following short exercise to learn more about the different string functions. 

[See Reference Library of String Functions](https://www.w3schools.com/python/python_ref_string.asp)

## Part 1

In [1]:
# Name


#Empty String


#String with numeric values in it

In [3]:
# Q1 A Create and print a variable called "my_name"that stores your name in all lower case
my_name = "mudita"

In [4]:
# Q1 B Capitalize the first letter of "my_name" and then print it
my_name.capitalize()

'Mudita'

In [5]:
# Q1 C Capitalize all letters of "my_name" and then print it
my_name.upper()

'MUDITA'

## Part 2

In [8]:
# Q2 A Create and print a variable called "my_favorite_fruit" 
# and make it store "I love apples, apples are my favorite fruit"
my_favourite_fruit = "I love apples, apples are my favourite fruit"
my_favourite_fruit

'I love apples, apples are my favourite fruit'

In [12]:
# Q2 B Print whether "my_favorite_fruit" ends with "fruit" 
my_favourite_fruit.endswith("fruit")

True

In [14]:
# Q2 C Count and print the number of times the value "apple" appears in the string
apple_count = my_favourite_fruit.count("apple")
apple_count

2

In [17]:
# Q2 D Replace "apple" with "banana" in "my_favorite_fruit"
my_favourite_fruit = my_favourite_fruit.replace("apples", "bananas")
my_favourite_fruit

'I Love Bananas, Bananas Are My Favourite Fruit'

In [19]:
# Q2 E Convert the first character of each word in "my_favorite_fruit" to upper case
my_favourite_fruit = my_favourite_fruit.title()
my_favourite_fruit

'I Love Bananas, Bananas Are My Favourite Fruit'

In [20]:
# Q2 F Split "my_favorite_fruit" on "," and print the result
my_favourite_fruit = my_favourite_fruit.split(",")
my_favourite_fruit

['I Love Bananas', ' Bananas Are My Favourite Fruit']

# If Else Statements

[See Reference](https://info370a-w19.github.io/python-basics/logic-and-conditionals.html)

In [26]:
#Mother Older 
def is_mother_older(mother_age, father_age):
    if mother_age>father_age:
        print("mother is older to father")
    elif mother_age == father_age:
        print("mother and father are same age")
    else:
        print("mother is not older to father")

In [27]:
is_mother_older(40,45)

mother is not older to father

In [28]:
#Pass Fail 
def pass_fail(grade):
    if (grade>35):
        print("pass")
    elif grade == 35:
        print("just pass")
    else:
        print("fail")

In [29]:
pass_fail(36)

pass

# Create a function that accepts the current temperature and returns "is hot" if the temperature is greater than 24 and returns "is not hot" if the temperature is equal to or below 24

In [41]:
def is_hot_or_not(temperature):
    if temperature>24:
        return"Is hot"
    else:
        return"Not hot"

In [42]:
is_hot_or_not(30)

'Is hot'

# Grades

- A Grade: 90 and above
- B Grade: 70 and 89
- C Grade: 50 and 69
- D Grade: 35 and 49
- F Grade: Anything below 35

In [30]:
def grader(score):
    if score>=90:
        return"A"
    elif score>=70 and score<=89:
        return"B"
    elif score>=50 and score<=69:
        return"C"
    elif score>=35 and score<=49:
        return"D"
    else:
        return"F"

In [31]:
mudita_grade = grader(90)
mudita_grade

'A'

In [13]:
# Create a function called "goldilocks" that accepts a numeric temperature value 
# and returns "This porridge is too hot!" if the temperature value is >= 80
# and returns "This porridge is just right" if the temperature value is between 40 and 79
# and returns "This porridge is too cold" if the temperature value is below 40

# For Loops

In [32]:
# Create a list of your favorite movies
movies = ["housefull", "housefull 2", "housefull 3", "housefull 4"]
movies

['housefull', 'housefull 2', 'housefull 3', 'housefull 4']

In [36]:
# Create a for loop that prints each of your favorite movies with the text "I love "
for movie in movies:
    print("I love", movie)

I love housefull
I love housefull 2
I love housefull 3
I love housefull 4

In [39]:
# Create a list of your favorite cars and favorite colors
cars = ["Ferrari", "Audi", "BMW", "Mercedes"]
colors = ["blue", "lavender", "grey", "black"]

In [40]:
for color in colors:
    for car in cars:
        print(color,car)

blue Ferrari
blue Audi
blue BMW
blue Mercedes
lavender Ferrari
lavender Audi
lavender BMW
lavender Mercedes
grey Ferrari
grey Audi
grey BMW
grey Mercedes
black Ferrari
black Audi
black BMW
black Mercedes

# Create a function that accepts a list of colors and a list of cars  and then returns the following

- "Yes it exists" if the car combination "Speed Red Mazda" is possible
- "Does not exist" for every other car combination

In [43]:
def speed_red_mazda_exists(car, colors):
    for color in colors:
        for car in cars:
            if car == "mazda" and color == "speed red":
                return "it exists"
   
    return "does not exist"

In [44]:
car_list_1 = ["ferrari", "ford"]
color_list_1 = ["mettalic blue", "speed red"]
speed_red_mazda_exists(car_list_1,color_list_1)

'does not exist'

In [46]:
car_list_2 = ["honda","mazda"]
color_list_2 = ["steel grey", "speed red"]
speed_red_mazda_exists(car_list_2,color_list_2)

'does not exist'